*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#count{
    font-size: 70px;
}

.game-area{
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.puzzle{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px red;
}

.table{
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px red;
}

table{

    border-spacing: 0px;
    border-collapse: collapse;
} 

td {
    vertical-align: bottom;
    height: 100px;
    width: 100px;
}
img{
    vertical-align: bottom;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

input[type=button]{
    width: 120px;
    height: 50px;
    
}

.modal-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: -1;
}

.modal{
    width: 500px;
    height: 500px;
    position: relative;
    background-color: wheat;
    cursor: pointer;
    z-index: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.modal p{
    font-size: 30px;
}

.buttons{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

